{% extends "base.html" %}
{% block content %}
	<div class="jumbotron jumbotron-fluid"  style="background-color:black;">
		<div class="container">
			<h1 style="font-family:monospace;color:white;text-align:center">IIT jodhpur sport programming community</h1>
			<hr>
			<p style="color:white;text-align:center">code never lies, comments sometime do.</p>
			<hr>
			{% if current_user.is_authenticated %}
			<p style="color:white;text-align:center">logged in as {{ current_user.name }}</p> 
			{% endif %}
		</div>
	</div>
	<div class="container">
		<h1 style="font-family:monospace;text-align:center;">Recent/Upcoming Events</h1>
		<div class="card-deck row flex-row flex-nowrap" style="overflow-x:auto">

		{% for contest in upcomingContests %}
		<div class="col-xl-6 col-md-6 col-sm-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">{{ contest.name }}</h2>
				<p class="card-text">Codeforces contest begins at {{ contest.date }}</p>
				<a href="{{ contest.link }}" class="btn btn-primary">Join</a>
			</div>
		</div>
		</div>
		{% endfor %}
		</div>	
		
	</div>
{% endblock %}
